.feedFlex {
  display: flex;
  flex-direction: column;
}

.feedRight {
align-self: flex-end;
margin-top: 10px;
} 
.feedLeft {
  align-self: flex-start;
  margin-top: 10px;
  } 

  .ui.feed {
    display: flex;
    flex-direction: column;
  } 
  
  .ui.feed>.event.feedLeft {
    align-self: flex-start; 
    display: flex; 
    flex-direction: row;
    margin-top: 10px;
  } 

  .ui.feed>.event.feedRight {
    align-self: flex-end;
    margin-top: 10px;
  } 
  .feedMessage {
    margin-top: 20px;
    text-align: left;
  } 

