.feedFlex {
  display: flex;
  flex-direction: column;
}

.feedRight {
align-self: flex-end;
} 
.feedLeft {
  align-self: flex-start;
  } 

  .ui.feed {
    display: flex;
    flex-direction: column;
  } 
  
  .ui.feed>.event.feedLeft {
    align-self: flex-start;
  } 

  .ui.feed>.event.feedRight {
    align-self: flex-end;
  }